{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/static/css/about.css">
  <title>Document</title>
</head>
<body>
  <div class="about-section">
    <h1>About Us</h1>
    <p span style="font-family: 'Oxygen', sans-serif">Coimbatore Institute of Technology<br>
      <br>Coimbatore Institute of Technology (CIT) is a government-aided autonomous engineering college located in Coimbatore, Tamil Nadu, India. It was founded in 1956 by V. Rangaswamy Naidu Educational Trust. It is affiliated to Anna University.</p>
  </div> 
</body>
</html>


